#virtual environments and caches
venv/
venv2/
__pycache__

# Jupyter Notebook
.ipynb_checkpoints

# Package Builders
package_builder/build/
package_builder/epa_ncc.egg-info/
reports/pyproject.toml

# Pickle files (too large)
data/interim/external/best_model_rf.pickle
data/interim/external/domain.pickle
